/* General header styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2e3944; /* Match footer background color */
    color: white;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.header-name {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.link-button-container {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.link-button,
.link-button-logout {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    border: none;
    background: none;
    cursor: pointer;
}

.link-button:hover {
    text-decoration: underline;
}

.link-button-logout:hover {
    text-decoration: underline;
}

/* Hamburger menu styling */
.hamburger-menu {
    display: none;
}

.hamburger-icon {
    background: none;
    border: none;
    font-size: 24px;
    color: white; /* Match footer link color */
    cursor: pointer;
}

.hamburger-links {
    display: flex;
    flex-direction: column;
    background-color: #2e3944; /* Match footer background color */
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
}

.hamburger-link,
.hamburger-link-button {
    text-decoration: none;
    color: white; /* Match footer link color */
    margin: 10px 0;
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
    width: 100%;
    padding: 8px 10px;
}

.hamburger-link:hover,
.hamburger-link-button:hover {
    text-decoration: underline;
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
    .link-button-container {
        display: none;
    }

    .hamburger-menu {
        display: block;
        z-index: 100000;
    }

    .header-name {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .header {
        flex-direction: row;
    }

    

    .header-left {
        width: 100%;
        justify-content: left;
    }
    
    .hamburger-links {
        right: 10px;
    }
}