/* General container styling */
.image-carousel {
    margin: 20px auto;
    max-width: 800px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling for images in the carousel */
.sliderimg {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Home content styling */
.home-content {
    text-align: center;
    padding: 40px 20px;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 20px 0;
}

.home-content h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.home-content p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}

/* Styling for buttons on the homepage */
.homepage-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.homepage-link {
    text-decoration: none;
    color: white;
}

.homepage-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #1b1b1b;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.homepage-button:hover {
    background-color: rgb(95, 95, 95);
}
